$color-black-carbon: #333333;
$color-black-carboned: #555555;
$color-black: #000000;
$color-blue-berry: #7c83fd;
$color-blue-orchid: #96baff;
$color-green-aquamarine: #88fff7;
$color-grey-oslo: #8f9394;
$color-grey-steam: #dddddd;
$color-pink-fair: #ffecec;
$color-red-lightred: #f5aca6;
$color-white: #ffffff;