@import '../styles/shared-styles.scss';

.range {
  &__container {
    @include range-container();
  }
  
  &__track {
    @include range-track();

    &__container {
      @include range-track-container();
    }

    &--selected {
      @include range-selection();
    }
    &__bullet{
      &--min,
      &--max {
        @include range-bullet();

        &:hover {
          @include range-bullet-hover();
        }
      }
    }
  }

  &__input {
    display: inline-flex;
    justify-self: center;

    input {
      width: 55px;
    }
    .currency__container {
      margin: 1px;
      margin-left: 5px;
    }
  }

  &__message { 
    &--error  {
    grid-column-start: line2;
    grid-column-end: line2;
    grid-row-start: row1-start;
    grid-row-end: row1-start;

    background:$color-pink-fair;
    border-radius:10px;
    border:1px solid $color-red-lightred;
    color:$color-black-carboned;
    font-family:Tahoma,Geneva,Arial,sans-serif;
    font-size:11px;
    font-weight: bolder;
    margin:10px;
    padding:10px 10px 10px 36px;
  }}
}