@import '../styles/shared-styles.scss';

.fixed-range {
  &__container {
    @include range-container();
  }
  
  &__track {
    @include range-track();

    &__container {
      @include range-track-container();
    }

    &--selected {
      @include range-selection();
    }
    &__bullet{
      &--min,
      &--max {
        @include range-bullet();

        &:hover {
          @include range-bullet-hover();
        }
      }
    }
  }

  &__input {
    display: inline-flex;
    justify-self: center;

    input {
      width: 55px;
      border: none;
      background-color: transparent;
      font-weight: 600;
      cursor: text;
      &:focus-visible {
        outline: none;
      }
    }
    .currency__container {
      margin: 1px;
      margin-left: 5px;
    }
  }
}